<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="QuanLyQuanGame"
             connectionString="Data Source=LAPTOP-B6R69I92\SQLEXPRESS02;Initial Catalog=QuanLyQuanGame;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
